
project/project.sim/sim_1/behav/xsim/project_tb_behav.wdb
*.rlx
*.ini
*.log
*.xdbg
*.type
*.rtti
*.rlx
*.mem
*.dbg
*.tcl
*.info
*.obj
*.pb
*.log
*.bat
*.wdb
*.log
*.bat
*.wdf
*.wdf
*.wdf
*.wpc
*.xml
*.jou
*.xpr
*.log
*.str
*.str
*.wdf
*.wpc
*.xml
*.xpr
project/project.xpr
